@model IEnumerable<WebApplicationLab06MVC.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MInit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee2.FName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MInit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee2.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SSN }) |
            @Html.ActionLink("Details", "Details", new { id=item.SSN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SSN })
        </td>
    </tr>
}

</table>
<div>
    <div class="row">
        <p>
            Hello people
        </p>
        <p>
            @Html.ActionLink("Department page", "Index", "Departments")
        </p>
    </div>
</div>
